.main-rectangle-div {
  width: 100%;
  position: fixed;
  background: darkorange;
  height: 100%;
  margin: 0 auto;
}

.background {
  width: 96%;
  max-width: 100%;
  position: relative;
  height: 96%;
  background-image: url(../../Images/Background.jpg);
  max-height: 100%;
  background-size: cover;
  background-repeat: repeat;
  background-position: center;
  line-height: normal;
  margin: 0 auto;
  padding-left: 20px;
  z-index: 10;
}

.blank-box {
  width: 20px;
  margin: 5px;
  padding: 10px;
  flex-wrap: nowrap;
  display: flex;
}

.blank-box-2 {
  width: 60px;
  margin: 5px;
  padding: 10px;
  flex-wrap: nowrap;
  display: flex;
}

.blank-box-top {
  width: 60px;
  margin-top: 5px;
  padding: 10px;
  flex-wrap: nowrap;
  display: flex;
}

.blank-left {
  width: 60px;
  margin-left: 45%;
  padding: 10px;
  flex-wrap: nowrap;
  display: flex;
  align-content: center;
}

.big-text {
  display: flex;
  width: 100%;
  height: 119px;
  flex-direction: column;
  justify-content: center;
  color: #000;
  font-family: "Alegreya Sans";
  font-size: 55px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  letter-spacing: 2.75px;
  text-transform: capitalize;
  text-align: center;
}

.small-text {
  display: flex;
  width: 100%;
  height: 146px;
  flex-direction: column;
  justify-content: center;
  color: #000;
  font-family: "Alegreya Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
  text-align: center;
}

.button {
  width: 178px;
  height: 65px;
  border-radius: 21px;
  background: #36ff32;
  align-content: center;
}