.blank-box {
  width: 20px;
  margin: 5px;
  padding: 10px;
  flex-wrap: nowrap;
  display: flex;
}

.blank-box-2 {
  width: 60px;
  margin: 5px;
  padding: 10px;
  flex-wrap: nowrap;
  display: flex;
}

.half-box {
  width: 20px;
  margin: 5px;
  flex-wrap: nowrap;
  display: flex;
}

.nav-bar {
  width: 100%;
  position: relative;
  border-radius: 24px;
  background-color: orangered;
  border-bottom: 1 px solid orangered;
  display: flex;
  align-items: center;
}

.nav-main {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.line-main {
  width: 40%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 3px 137px;
  box-sizing: border-box;
  position: relative;
}

.nav-sub {
  width: 1px;
  position: relative;
  border-right: 1px solid orangered;
  box-sizing: border-box;
  height: 27px;
  z-index: 0;
}

.Nature-Creator {
  width: 50%;
  position: relative;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  display: flex;
  text-align: center;
  height: 100%;
  flex-shrink: 0;
}

.wrapper {
  width: 50%;
  margin: 0;
  position: absolute;
  top: 0px;
  left: -29px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 4px 0px;
  box-sizing: border-box;
  z-index: 1;
  color: white;
}

.main {
  width: 50%;
  position: relative;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  font-weight: 600;
}

.about {
  width: 50%;
  position: relative;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  font-weight: 600;
}

.art-shop {
  width: 20%;
  position: relative;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  font-weight: 600;
}

.line-parent {
  width: 789px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 3px 137px;
  box-sizing: border-box;
  position: relative;
}

a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:active {
  color: black;
  background-color: transparent;
  text-decoration: none;
}
